<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <form action="/users/register" method="post" enctype="multipart/form-data">
        <input type="text" name="name" id="" placeholder="Enter name">
        <input type="email" name="email" id="" placeholder="Enter email">
        <input type="password" name="password" id="" placeholder="Enter password">
        <input type="file" name="profilePicture" id="" placeholder="Choose profilePicture">
        <input type="submit" value="Submit">
    </form>
</body>
</html>